*

!.gitignore
!README.md
!runAll.sh
!buildTestGraphs.sh
!buildUndirected.sh
!buildDirected.sh
!BuildGraph.py
!AnalyzeGraph.py
!Spectrum.py
!enronDirected.graphml
!enronUndirected.graphml

!report_undirected/
!report_undirected/*

!report_directed/
!report_directed/*
!Final_Report.docx